<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Students</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div class="navbar">
    <span>Student Management</span>
    <a th:href="@{/dashboard}">Back</a>
</div>

<div class="container">

    <h2>Students List</h2>

    <!-- Add Student Form -->
    <form th:action="@{/saveStudent}" method="post">
        <input type="text" name="name" placeholder="Name" required>
        <input type="text" name="course" placeholder="Course" required>
        <input type="text" name="phone" placeholder="Phone" required>
        <button type="submit">Add Student</button>
    </form>

    <br><br>

    <table border="1">

        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Course</th>
            <th>Phone</th>
            <th>Action</th>
        </tr>

        <!-- Dynamic Data -->
        <tr th:each="s : ${list}">
            <td th:text="${s.id}"></td>
            <td th:text="${s.name}"></td>
            <td th:text="${s.course}"></td>
            <td th:text="${s.phone}"></td>

            <td>
                <a th:href="@{'/deleteStudent/' + ${s.id}}">
                    <button>Delete</button>
                </a>
            </td>
        </tr>

    </table>

</div>

</body>
</html>